{
    "node_name": "{{ansible_hostname}}",
    "datacenter": "santiago",
    "start_join": ["192.168.10.100"],
    "bind_addr": "{{ansible_eth1.ipv4.address}}",
    "enable_syslog": false,
    "disable_remote_exec": false
}
