{
    "node_name": "{{ansible_hostname}}",
    "datacenter": "santiago",
    "start_join": ["192.168.100.10"],
    "bind_addr": "{{ansible_default_ipv4.address}}",
    "enable_syslog": false,
    "disable_remote_exec": false
}
